*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height:10vh ;
}
.nav1{
    display: flex;
    margin: 15px;
    margin-left: 3%;
    
}
#starbuckslogo{
    width: 3.5vw ;
    height: 5.5vh;
}
.innernav1{
    padding: 15px;
}
.nav2{
    margin: 30px;
}
.store{
    margin: 40px;
    color: #000000DE;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    
}
.material-symbols-outlined {
    font-size: 18px; 
    line-height: 1; 
    vertical-align: middle; 
}


.sign2{
    width: 5vw;
    height: 4vh;
   border-radius: 40px;
   background-color: white;
   border: 1px black solid;

}
.sign3{
    width: 6vw;
    height: 4vh;
    margin-left: 10px;
   border-radius: 40px;
   background-color: black;
   color: white;
}


#sign{
    text-align: center;
    padding: 1%;
    color: #000000DE;
   
}
#join{
    text-decoration: none;
}
.innernavelement{
    margin: 30px;
    font-size: 14px;
    color: #000000DE;
    text-decoration: none;
    font-weight: 800 ;
    
   }
   .firstcontent{
    background-color: #32462F;
    width: 98vw;
    height: 13vh;
    text-align: center;
    padding-top: 40px;
    color: white;
    font-size: 19px;
    margin-bottom: 40px;
   }
   #order{
    padding: 10px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    margin: 10px;
   }
main{
    padding-left: 10px;
    padding-right: 10px;
}
.firstcontentsec{
    width: 98vw;
    height: 75vh;
    display: flex;
}
.firstcontentelement{
    background-color: #5F4633;
    color: white;
    padding: 120px;
}
#protein{
    font-size:50px;
    font-weight: 600;
    text-align: center;
    margin: 30px;
}
#proteinpara{
    font-size: 25px;
    text-align: center;
}
#learn{
    width: 8vw;
    height: 4vh;
    margin-left: 180px;
    border-radius: 50px;
    font-size: 16px;
    background: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 40px;
}
.secondelement{
    display: flex;
    margin: 10px;
    width: 97vw;
    height: 45vh;
    background-color: #F8F0E5;
    color: #5F4633;
}
.secondelement1{
    display: flex;
    margin: 10px;
    width: 97vw;
    height: 50vh;
    background-color: #F8F0E5;
    color: #5F4633;
}
#Fall{
    font-size:23px;
    font-weight: 600;
    text-align: center;
    margin: 30px;
}
#fallpara{
    text-align: center;
    font-size: 20px;
    padding-left: 130px;
    padding-right: 130px;
    font-weight: 100;
}
#view{
    width: 10vw;
    height: 4vh;
    border-radius: 40px;
    margin:40px ;
    font-size: 17px;
    margin-left: 340px;
    border: 2px solid darkgreen;
    background-color: darkgreen;
    color: white;
}
.lastcontent{
    padding-left: 30vw;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    width: 70vw;
    height: 50vh;
    font-size: 16px;
}
.lines{
    margin: 4vh;
   
}
footer{
    display: flex;
}
.Aboutus{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.element{
    text-decoration: none;
    color: #00000094;
    font-size: 16px;
    padding-top: 14px;
}
label{
    color: #000000DE;
    margin: 10px;
    font-size: 19px;
}
.lastfooter{
    display: flex;
    flex-direction: column;
}
.element1{
    margin: 10px;
    text-decoration: none;
    color: #000000DE;
    padding: 5px;
    margin-left:30px ;
}
.lastlinefooter{
     margin: 30px;
    margin-left:30px ;
    color: #00000094;
}
