*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

    header{
        width: 100vw;
        height: 5vw;
        background-color: white;
        display: flex;
        justify-content: space-between;
        }
        .shaadilogo{
            width: 15vw;
            height: 5vh;
            
        }
        .logo{
            padding-top: 20px;
            padding-left:7vw ;
        }
        .leftnav{
            padding-right:7vw ;
            padding-top: 20px;
        }
        .buttonnav{
            text-decoration: none;
            font-size: large;
           margin: 10px;
           color: #51505D;
        }
        .buttonnav:hover{
            text-decoration:underline;
        }
        .loginbutton{
             font-size: large;
             color: #51505D;
            width:6vw;
            height: 4vh;
            border-radius: 20px;
            border: 1px solid gray;
            background-color: white;
        }
        .loginbutton:hover{
            background-color: lightgray;
        }
    main{
        width: 100vw;
        height: 95vh;
        }
        .landingpage{
            background-image: url(https://www.laquadra.com/assets/cache/uploads/stock/1920x1036/oferta-pareja-hotel-la-quadra-macanet-de-cabrenys-alt-emporda-girona.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100vw;
            height: 85vh;
        }
        #Find{
            font-size:78px;
            font-weight: 900;
            color: white;
        }
        #DIS{
            font-size: 24px;
            color: white;
            
        }
        .coverpage{
            padding-top:45vh ;
            text-align: center;
        }
        .match{
            margin: 30px;
            width: 17vw;
            height: 9vh;
            border-radius:40px;
            font-size:24.75px ;
            background-color: #0AA4B8;
            color: white;
        }
        .lastlinepage{
            background-color: black;
            color: white;
            font-size: 20px;
            text-align: center;
            width: 100vw;
            height:7vh ;
            margin-top: 64px;
        }
        span{
           margin: 7px;
        }
        .secondlandingpage{
            width: 100vw;
            height: 100vh;
            color: black;
        }
        .secondland{
            padding-left: 100px;
        }
        .cardsection{
            display: flex;
            flex-wrap: wrap;
            padding-top: 30px;
            gap: 20px;
            
        }
        .cardelement{
             border: 1px solid #ededef;
             border-radius: 35px;
             padding: 30px;
             width: 25vw;
             height: 30vh;
             font-size:large ;
        }
        .sec-heading{
            padding-top:  100px;
            font-size: 35px;
        }
        .innercardelement{
            margin-right: 3vw;
            margin-top: 3vw;
            color: #51515D;
            width: px;
            font-size: large;
        }
        .ads{
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;
            margin-right:40px ;
            padding: 40px;
            background-color: #F4E9FF;
            border-radius: 40px;
        }
        .viplogo{
            width: 20vw;
            height: 15vh;
        }
        #Experience{
            font-size: 29px;
            color: #212126;
        }
        #option{
            background-color: #48276E;
            color: white;
            width: 250px;
            height: 55px;
            border-radius: 40px;
            margin-top: 30px;
            margin-left: 30px;
            font-size: 20px;
        }
        .anumpanback{
            background-image: url(https://img2.shaadi.com/assests/2025/images/homepage/AGM_BG.jpeg)   ;
            width: 100vw;
            height: 80vh;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-wrap: wrap;
        }
        .outerart1{
            padding-left: 10%;
            padding-top:10% ;
        }
        .Notation{
            font-size: 35px;
            color: black;
            font-weight: 800;
           width: 38vw;
           height: 20vh;

        }
        .author{
            font-size: 20px;
            padding-top: 15px;
            color: #212126;
        }
        #anumpanimg{
            padding: 5%;
            width: 40vw;
        }
        .realstories{
            width: 95vw;
            height: 95vh;
            display: flex;
            margin: 60px;
            margin-left: 90px;
            gap: 26px;
        }
        #real{
            font-size: 40px;
            width: 350px;
            margin-right: 100px;
        }
        #imgengaged{
            width: 370px ;
            height: 350px;
            border-radius: 20px;
        }
        .parastories{
            color: #212126;
            width: 450px;
            font-size: 30px;
            margin-top: 50px;
        }
        #know{
            margin: 40px;
            width: 230px;
            height: 60px;
            font-size: 20px;
            font-weight: 700;
            border-radius: 50px;
            background-color:#0AA4B8;
            color: white;
            border: white;
        }
        .name{
            font-size: 25px;
            font-weight: 800;
            margin-top: 30px;
        }
        .boxofname{
            border: 2px whitesmoke solid;
            border-radius: 40px;
            padding: 30px;
            box-shadow: 1px 1px 27px whitesmoke;
        }
        /* .boxofname :hover{
            
        } */
        .description{
            color: #212126;
            width: 300px;
            font-size: 20px;
            margin-top: 30px;
        }
